@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/S-CoreDream/S-CoreDream.css');
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Aggro/Aggro.css');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'coolveticaregular';
    src: url('../fonts/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yeongdo';
    src: url('../fonts/Yeongdo-Rg.woff2') format('woff2'),
        url('../fonts/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



:root {
    font-size: 10px;
    /* --main-bg-color: #EE809E;  피그마의 스타일가이드 속성 넣어서 사용가능 var() */
}

body {
    /* font-family: "Noto Serif Display", serif; */
    font-family: "Pretendard Variable", sans-serif;
    /* font-family: 'S-Core Dream'; */
    font-weight: 300;
    /* 기본적으로 쓰는 폰트 넣기, 외에 다른 폰트는 해당 구역에 넣기 */
    /* padding-top: 100px; */
    cursor: default;
}


/* banner */

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    position: relative;
}

.banner h2 {
    font-family: "Noto Serif Display", serif;
    font-weight: 400;
    font-size: 20rem;
    position: absolute;
    left: 120px;
    top: 350px;
    color: #fff;
    z-index: 999;
    display: none;
}

.banner h2.on {
    display: flex;
}

.banner .left {
    width: 27%;
    height: 100vh;
}

.banner .left ul {
    width: 100%;
    height: 100%;
}

.banner .left ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .left ul li p.shadow {
    font-family: "Noto Serif Display", serif;
    font-weight: 400;
    font-size: 20rem;
    position: absolute;
    left: 18px;
    top: 300px;
    color: #898989;
    opacity: 20%;
}

.banner .left ul li.main_txt_box3 p.shadow {
    color: #333;
}

.banner .left ul li.main_txt_box1 {
    background-color: #252525;
}

.banner .left ul li.main_txt_box2 {
    background-color: #692312;
}

.banner .left ul li.main_txt_box3 {
    background-color: #90A484;
}

.banner .left ul li {
    width: 100%;
    height: 100%;
    padding-top: 150px;
}

.banner .left ul li .txt_box {
    width: 90%;
    height: 80%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner .left ul li .txt_box>p {
    font-family: "Noto Serif Display", serif;
    font-weight: 600;
    font-size: 3.5rem;
}

.banner .left ul li .txt_box .sub_txt_box {
    font-family: "Pretendard Variable", sans-serif;
    width: 80%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner .left ul li .txt_box .sub_txt_box h3 {
    font-size: 3rem;
    font-weight: 600;
}

.banner .left ul li .txt_box .sub_txt_box .txt {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner .left ul li .txt_box .sub_txt_box .txt p {
    font-family: 'S-Core Dream';
    font-size: 2.2rem;
    font-weight: 300;
    color: #878181;
}

.banner .left ul li.main_txt_box2 .txt_box .sub_txt_box .txt p {
    color: #EACCBA;
}

.banner .left ul li.main_txt_box3 .txt_box .sub_txt_box .txt p {
    color: #fff;
}

.banner .left ul li .txt_box .sub_txt_box .more {
    width: 200px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .left ul li .txt_box .sub_txt_box .more a {
    font-family: "Noto Serif Display", serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #000;
}

.banner .right {
    width: 73%;
    height: 100vh;
}

.banner .right ul {
    width: 100%;
    height: 100%;
}

.banner .right ul li {
    width: 100%;
    height: 100%;
}

.banner .right ul li .navigation {
    width: 290px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 250px;
    left: 50px;
}

.banner .right ul li .navigation p {
    font-family: "Noto Serif Display", serif;
    font-size: 5rem;
    color: #fff;
}

.banner .right ul li .navigation img {
    cursor: pointer;
}

.banner .right ul li .txt_box {
    width: 93%;
    height: 170px;
    background-color: rgba(221, 221, 221, 0.85);
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner .right ul .txt_box div {
    width: 300px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Pretendard Variable", sans-serif;
}

.banner .right ul .txt_box div p.title {
    font-weight: 600;
    font-size: 2.3rem;
    color: #000;
}

.banner .right ul .txt_box div p {
    font-weight: 400;
    font-size: 2rem;
    color: #7E7E7E;
}


/* header */
.banner header {
    width: 95%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 40px;
    z-index: 99;
}

.banner header nav {
    width: 53%;
    height: 100%;
    font-family: "Pretendard Variable", sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
}

.banner header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner header nav ul li {
    width: 20%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.7s;
    border-radius: 20px;
}

.banner header nav ul li:hover {
    background-color: #fff;
    color: #000;
}

.best::before {
    font-family: 'coolveticaregular';
    content: 'CLASS';
    width: 1427px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 500px;
    color: #cccc;
    opacity: 30%;
}

/* best */
.best {
    width: 100%;
    height: 3000px;
    background-image: url(../img/best_bg.jpg);
    overflow: hidden;
}

.best .title {
    width: 390px;
    height: 80px;
    display: flex;
    transform: rotate(90deg);
    margin-left: 1500px;
    margin-top: 450px;
    position: absolute;
    justify-content: space-between;
}

.best .title h3 {
    font-family: 'coolveticaregular';
    font-size: 60px;
}

.best .title .line {
    width: 110px;
    height: 50px;
    border-bottom: 1px solid #000;
}

.best article {
    width: 70%;
    height: 500px;
    background: #252525;
    color: #fff;
    border-radius: 0 300px 300px 0;
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best article .bg_box {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best article .bg_box .img_box {
    width: 50%;
    height: 400px;
}

.best article .bg_box .img_box img {
    width: 100%;
    height: 100%;
}

.best article .txt_box {
    width: 50%;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.best article .txt_box h4 {
    font-size: 40px;
    font-weight: 600;
}

.best article .txt_box p {
    font-size: 28px;
    font-weight: 200;
    line-height: 1.5;
    text-align: center;
}

.best article .txt_box .more {
    width: 205px;
    height: 58px;
    background: #FDFDE9;
    border-radius: 30px;
    text-align: center;
    line-height: 58px;
    transition: background-color 0.5s ease;
}

.best article .txt_box .more:hover {
    background-color: #DA6D00;
}

.best article .txt_box .more a {
    font-weight: 600;
    font-size: 23px;
    color: #000;
    display: block;
    transition: color 0.3s ease;
}

.best article .txt_box .more:hover a {
    color: #fff;
}

.best article.best_class2 {
    position: relative;
    margin-left: auto;
    background: #DA6D00;
    border-radius: 300px 0 0 300px;
}

.best article.best_class2 .bg_box {
    width: 100%;
    margin-left: auto;
}

.best article.best_class2 .bg_box .img_box {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.best article.best_class2 .bg_box .img_box img {
    width: 100%;
    height: 100%;
    border-radius: 300px 0 0 300px;
}

.best article.best_class2 .txt_box .more {
    background: #252525;
}

.best article.best_class2 .txt_box .more:hover {
    background: #fff;
}

.best article.best_class2 .txt_box .more a {
    color: #fff;
}

.best article.best_class2 .txt_box .more:hover a {
    color: #DA6D00;
}

/* bar */

.bar {
    width: 100%;
    height: 300px;
    background: #FDFDE9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar .bg_box {
    width: 755px;
    height: 100%;
    border-radius: 0 300px 0 0;
    background: #171F21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar .bg_box h4 {
    font-family: 'Yeongdo';
    font-size: 50px;
    line-height: 1.3;
    color: #fff;
}

.bar .txt {
    width: 1000px;
    height: 150px;
    border-left: 1px solid #000;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar .txt p {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}


/* where */
.where {
    width: 100%;
    height: 400px;
    background: #E02142;
    display: flex;
    justify-content: center;
    align-items: center;
}

.where .txt {
    width: 1500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.where .txt .title {
    width: 270px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(90deg) translateX(-65%);
    transform-origin: left bottom;
}

.where .title .line {
    width: 80px;
    height: 80px;
    border-bottom: 1px solid #000;
}

.where .title h3 {
    font-family: 'coolveticaregular';
    font-size: 60px;
}

.where .place {
    width: 80%;
    height: 200px;
}

.where .place ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.where .place ul li {
    width: 200px;
    height: 200px;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: brightness(0.7);
    /* 기본 상태 */
    transition: filter 0.3s ease;
    /* 부드러운 효과 */
    will-change: transform, filter;
    /* GPU 가속 */
    transform: translateZ(0);
    /* GPU 최적화 */
    background-size: cover;
    /* 이미지 크기 최적화 */
    background-position: center;
}

.where .place ul li:hover,
.where .place ul li a p:hover {
    filter: brightness(1.2);
    /* 밝게 */
}

.where .place ul li.place1 {
    background: url(../img/place1.jpg);
}

.where .place ul li.place2 {
    background: url(../img/place2.jpg);
}

.where .place ul li.place3 {
    background: url(../img/place3.jpg);
}

.where .place ul li.place4 {
    background: url(../img/place4.jpg);
}

.where .place ul li.place5 {
    background: url(../img/place5.jpg);
}

.where .place ul li.place6 {
    background: url(../img/place6.jpg);
}

.where .place ul li.place7 {
    background: url(../img/place7.jpg);
}

.where .place ul li.place8 {
    background: url(../img/place8.jpg);
}

.where .place ul li.place9 {
    background: url(../img/place9.jpg);
}

.where .place ul li p {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.where .place ul li span {
    font-size: 25px;
    font-weight: 200;
}

.where .txt .navigation {
    width: 75%;
    position: absolute;
    left: 370px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    cursor: pointer;
}

.where .txt .navigation i {
    font-size: 5rem;
}


/* review */

.review {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 150px 80px;
}

.review .title {
    width: 176px;
    height: 70px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-self: center;
    /* margin-top: 120px; */
}

.review .title h3 {
    font-family: 'coolveticaregular';
    font-size: 60px;
    color: #000;
}

.review_contents {
    width: 90%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.review_contents article {
    width: 500px;
    height: 500px;
    background: #171F21;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review_contents article .txt_box {
    width: 400px;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.review_contents article .txt_box .txt {
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.review_contents article .txt_box .txt>img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.review_contents article .txt_box .txt>h4 {
    font-weight: 500;
    font-size: 30px;
}

.review_contents article .txt_box .txt>p {
    text-align: center;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.5;
}

.review_contents article .txt_box .star {
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review_contents article .txt_box .star p {
    font-size: 30px;
    font-weight: 700;
    color: #FD627D;
}

.review_contents article .txt_box .star ul {
    margin-left: 10px;
    width: 162px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review_contents article.main_review_card {
    width: 700px;
    height: 700px;
    background: #FDFDE9;
    color: #000;
}

.review .swiper-slide {
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.review .swiper-slide-active {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.review_contents article.main_review_card .txt_box {
    width: 600px;
    height: 550px;
}

.review_contents article.main_review_card .txt_box .txt {
    width: 100%;
    height: 480px;
}

.review_contents article.main_review_card .txt_box .txt img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.review_contents article.main_review_card .txt_box .txt h4 {
    font-size: 40px;
    font-weight: 600;
}

.review_contents article.main_review_card .txt_box .txt p {
    font-size: 21px;
}

.review_contents article.main_review_card .txt_box .star p {
    color: #000;
}


/* preview */

.preview {
    width: 100%;
    height: 1500px;
    position: relative;
    display: flex;
}

.preview .p_left {
    width: 50%;
    height: 100%;
}

.preview .p_left .title {
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
}

.preview .p_left .title p {
    color: #A78876;
    font-size: 2.5rem;
    font-weight: 300;
}

.preview .p_left .title h3 {
    font-family: 'coolveticaregular';
    font-size: 6rem;
    color: #fff;
}

.preview .p_left .main_preview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.preview .p_left .main_preview article {
    width: 100%;
    height: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    display: none;
}

.main_preview article.on {
    display: flex;
}

.preview .p_left .main_preview article.on {
    display: flex;
}

.preview .p_left .main_preview article .p_img_box {
    width: 100%;
    height: 67%;
    display: flex;
    justify-content: space-around;
}

.preview .p_left .main_preview article .p_img_box>p {
    font-size: 10rem;
    font-weight: 500;
    color: #C2C3BE;
}

.preview .p_left .main_preview article .p_img_box img {
    width: 700px;
    height: 500px;
    border-radius: 30px;
}

.preview .p_left .main_preview article .p_txt_box {
    width: 75%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.preview .p_left .main_preview article .p_txt_box h4 {
    height: 30%;
    color: #A78876;
    font-size: 4rem;
    font-weight: 600;
}

.preview .p_left .main_preview article .p_txt_box div {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview .p_left .main_preview article .p_txt_box p {
    color: #676864;
    font-size: 2rem;
    font-weight: 300;
}

.preview .p_right {
    width: 50%;
    height: 100%;
}

.preview .p_right .p_introduce {
    width: 100%;
    height: 11%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.preview .p_right .p_introduce p {
    font-size: 2rem;
}

.preview .p_right .p_introduce p span {
    font-weight: 600;
}

.preview .p_right ul.p_list {
    width: 100%;
    height: 50%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.preview .p_right ul li {
    width: 60%;
    height: 80px;
    border: 1.5px solid #AA9B93;
    border-radius: 50px;
    transition: all 0.5s linear;
}

.preview .p_right ul li:hover {
    background: #AA9B93;
    color: #fff;
}

.preview .p_right ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.preview .p_right ul li a p {
    font-size: 2.7rem;
    font-weight: 500;
}

.preview .p_right ul li a .p_go {
    width: 50px;
    height: 50px;
    border: 1.5px solid #AA9B93;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview .p_right ul li a .p_go i {
    font-size: 2.7rem;
    rotate: 35deg;
}

.preview::before {
    font-family: 'coolveticaregular';
    content: 'PREVIEW';
    width: 1400px;
    font-size: 500px;
    color: #cccc;
    opacity: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}


/* newclass */

.new_class {
    width: 100%;
    height: 100vh;
    background: url(../img/new_class_bg0.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.new_class .title {
    width: 90%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_class .title .main_title {
    width: 343px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.new_class .title .main_title h3 {
    font-family: 'coolveticaregular';
    font-size: 6rem;
}

.new_class .title .main_title .line {
    width: 80px;
    height: 50px;
    border-bottom: 1px solid #fff;
}

.new_class .title .more {
    width: 190px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 30px;
    display: block;
    text-align: center;
    line-height: 50px;
    transition: background-color 0.7s ease;
}

.new_class .title .more:hover {
    background-color: #fff;
}

.new_class .title .more p {
    font-size: 2.7rem;
    font-weight: 500;
    color: #fff;
    transition: color 0.7s ease;
}

.new_class .title .more:hover p {
    color: #000;
}

.new_class .sub_title {
    width: 410px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.new_class .sub_title h4 {
    font-weight: 500;
    font-size: 3.5rem;
}

.new_class .sub_title p {
    font-weight: 200;
    font-size: 2rem;
}

.slide_box {
    width: 100%;
    height: 100%;
}

.slide_box ul {
    width: 100%;
    height: 100%;
}

.slide_box ul li {
    width: 600px;
    height: 550px;
    padding: 15px;
    background: #fff;
    margin-top: 50px;
}

.slide_box ul li .img_box {
    width: 100%;
    height: 60%;
}

.slide_box ul li .img_box img {
    width: 100%;
    height: 100%;
}

.slide_box ul li .txt_box {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slide_box .txt_box .title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.slide_box .txt_box .title>p {
    font-size: 2.5rem;
    font-weight: 700;
}

.slide_box .txt_box .title .date {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.slide_box .txt_box .title .date>p {
    font-size: 1.7rem;
}

.slide_box .txt_box .title .date>p>span {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 8px;
    color: #0D9900;
}

.slide_box .txt_box>p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.1;
}

.slide_box .txt_box .people {
    width: 200px;
    height: 30px;
    display: flex;
}

.slide_box .txt_box .people>p {
    color: #9F9F9F;
    font-weight: 600;
    font-size: 1.8rem;
}

.slide_box .txt_box .people .category {
    width: 55px;
    height: 22px;
    background: #E3DCD2;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.slide_box .txt_box .people .category p {
    font-size: 1.5rem;
    color: #000;
}

.slide_box .txt_box>.category {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
}

.slide_box .txt_box .category .category_box {
    width: 50px;
    height: 100%;
    border: 1.7px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_box .txt_box .category .category_box>p {
    font-weight: 500;
    font-size: 1.7rem;
}

.slide_box .txt_box .category>p {
    color: #aaa;
    font-weight: 500;
    font-size: 1.7rem;
    margin-left: 5px;
}


/* footer */
footer {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #111;
}

footer .company_info {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

footer .company_info .contact {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .company_info .contact li a {
    font-size: 2.3rem;
    font-weight: 400;
    color: #fff;
}

footer .company_info .sns {
    width: 15%;
    height: 100%;
}

footer .company_info .sns ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .company_info .sns ul li a i {
    font-size: 4.5rem;
    color: #fff;
}

footer .img_box {
    width: 100%;
    height: 70%;
    padding: 0 20px;
}

footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .company_info2 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

footer .company_info2 ul {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .company_info2 ul li a {
    font-size: 2rem;
    color: #bbb;
}

footer .company_info2 ul li a span {
    font-size: 2.3rem;
    color: #fff;
}